hr {
    margin-bottom: 30px;
}

.input-control {
    width: 100%;
}

.input-control-right  {
    padding: 0 10px 0 0;
}

.input-control-left {
    padding: 0 0 0 10px;
}

.input-control-center {
    padding: 0 5px 0 5px;
}

.mat-success {
    color: green;
}